<div class="sidenav sidenav--closed">
    <div class="sidenav__header flex flex--a-center">
        <img src="/assets/illustrations/logo.svg" alt="logo">
        <p>MEDIBIRD</p>
    </div>
    <nav class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <a href="/a/symptoms" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#stethoscope"></use>
                </svg>
                <p>Symptoms</p>
            </a>
            <a href="/a/diseases" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#stethoscope"></use>
                </svg>
                <p>Dieases</p>
            </a>
            <li class="sidenav__nav__ul__hr"></li>
            <a href="/a/sign-out" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#sign-out"></use>
                </svg>
                <p>Sign out</p>
            </a>
        </ul>
    </nav>
</div>