<div class="sidenav sidenav--closed">
    <div class="sidenav__header flex flex--a-center">
        <img src="/assets/illustrations/logo.svg" alt="logo">
        <p>Fixit</p>
    </div>
    <nav class="sidenav__nav">
        <ul class="sidenav__nav__ul">
            <a href="/repairs" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#wrench"></use>
                </svg>
                <p>Repair requests</p>
            </a>
            <a href="/history" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#clock"></use>
                </svg>
                <p>Repair history</p>
            </a>
            <li class="sidenav__nav__ul__hr"></li>
            <a href="/logout" class="sidenav__nav__ul__item flex">
                <svg class="image--icon">
                    <use href="#sign-out"></use>
                </svg>
                <p>Sign out</p>
            </a>
        </ul>
    </nav>
</div>