<header class="header-admin header-admin--sidenav-closed flex flex--a-center flex--j-space-between">
    <div class="header-admin__left flex flex--a-center">
        <svg class="image--icon">
            <use href="#menu"></use>
        </svg>
        <h4>MEDIBIRD | ADMINISTRATION</h4>
    </div>
    <div class="header-admin__user">
        <p>Good morning</p>
    </div>
</header>