<header class="header-main header-main--sidenav-closed flex flex--a-center flex--j-space-between">
    <div class="header-main__left flex flex--a-center">
        <img src="/assets/illustrations/logo.svg" alt="logo">
        <h4>MEDIBIRD</h4>
    </div>
    <div class="header-main__user">
        <p>Good Morning</p>
    </div>
</header>